/*  your css code here. If applicable */
*{
	background-color : rgb(204,204,204);
}
	
div,ul,li,nav{
		background-color : rgb(255,255,255);
	    padding : 10px ;
        border-radius : 10px;
	text-decoration-line : none;
	    list-style-type : none;	   
	}
	..player_one/.player_two{
		background-color : rgb(255,255,255);
		 padding : 10px ;
        border-radius : 10px;
	}
